<div class="container-fluid">
    <div class="row flex-xl-nowrap">      
        <div class="d-none d-xl-block col-xl-2 bd-toc">
            <ul class="section-nav">
                <li class="toc-entry toc-h2">
                    <a [routerLink]="['/docs']" fragment="quick-start">Quick start</a>
                    <ul>
                        <li class="toc-entry toc-h3">
                            <a [routerLink]="['/docs']" fragment="project-structure">Project structure</a>
                        </li>
                        <li class="toc-entry toc-h2">
                            <a [routerLink]="['/docs']" fragment="starter-template">Starter template</a>
                        </li>
                    </ul>
                </li>
                <li class="toc-entry toc-h2">
                    <a [routerLink]="['/docs']" fragment="how-everything-works">How everything works</a>
                    <ul>
                        <li class="toc-entry toc-h3">
                            <a [routerLink]="['/docs']" fragment="how-translation-works">How translation works</a>
                        </li>
                        <li class="toc-entry toc-h3">
                            <a [routerLink]="['/docs']" fragment="what-packages-do-we-use">What packages we use</a>
                        </li>
                    </ul>
                </li>
                <li class="toc-entry toc-h2">
                    <a [routerLink]="['/docs']" fragment="important-globals">Important global modules</a>
                    <ul>
                        <li class="toc-entry toc-h3">
                            <a [routerLink]="['/docs']" fragment="core-module">Core module</a>
                        </li>
                        <li class="toc-entry toc-h3">
                            <a [routerLink]="['/docs']" fragment="feedback-module">Feedback module</a>
                        </li>
                        <li class="toc-entry toc-h3">
                            <a [routerLink]="['/docs']" fragment="services-module">Services module</a>
                        </li>
                        <li class="toc-entry toc-h3">
                            <a [routerLink]="['/docs']" fragment="shared-module">Shared module</a>
                        </li>
                    </ul>
                </li>
                <li class="toc-entry toc-h2">
                    <a [routerLink]="['/docs']" fragment="community">Contributing</a>
                </li>
            </ul>
        </div>
      

      
    </div>
  </div>